<a href="https://colab.research.google.com/github/dataneto/codigo/blob/main/unindo_dfs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [61]:
usuarios1 = pd.read_csv('https://raw.githubusercontent.com/dataneto/AnalisandoAPandemia/main/Usuarios/Ativos/Usuarios_ativos/usuarios1?token=AP2O2Y5DU3CXEZY4FK2RRMDACQKDY')

In [62]:
usuarios2 = pd.read_csv('https://raw.githubusercontent.com/dataneto/AnalisandoAPandemia/main/Usuarios/Ativos/Usuarios_ativos/usuarios2%20(1)?token=AP2O2Y7JHE3D2CLVAGR7AG3ACQKEO')

In [63]:
usuarios3 = pd.read_csv('https://raw.githubusercontent.com/dataneto/AnalisandoAPandemia/main/Usuarios/Ativos/Usuarios_ativos/usuarios3?token=AP2O2Y4ZIQBBN3ESRPQQDCLACQKFG')

In [64]:
usuarios4 = pd.read_csv('https://raw.githubusercontent.com/dataneto/AnalisandoAPandemia/main/Usuarios/Ativos/Usuarios_ativos/usuarios4?token=AP2O2Y3YLCPKI63S37WE3U3ACQKFS')

In [75]:
usuarios5 = pd.read_csv('/content/usuarios5')

In [68]:
usuarios6 = pd.read_csv('/content/usuarios6')

In [69]:
usuarios7 = pd.read_csv('/content/usuarios7')

In [70]:
usuarios8 = pd.read_csv('/content/usuarios8')

In [71]:
usuarios9 = pd.read_csv('/content/usuarios9')

In [72]:
usuarios10 = pd.read_csv('/content/usuarios10')

In [73]:
usuarios11 = pd.read_csv('/content/usuarios11')

In [66]:
usuarios12 = pd.read_csv('/content/usuarios12')

In [76]:
usuarios_ = [usuarios1, usuarios2, usuarios3, usuarios4, usuarios5, usuarios6, usuarios7, usuarios8, usuarios9, usuarios10, usuarios11, usuarios12]

In [77]:
usuarios_x = pd.concat(usuarios_)

In [79]:
usuarios_x

     Unnamed: 0  ... localizacao
0             0  ...         NaN
1             1  ...         NaN
2             2  ...         NaN
3             3  ...         NaN
4             4  ...         NaN
..          ...  ...         ...
889         220  ...         NaN
890         221  ...         NaN
891         222  ...         NaN
892         223  ...         NaN
893         224  ...         NaN

[84779 rows x 6 columns]

In [81]:
usuarios_x = usuarios_x.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'nome', 'descricao', 'localizacao'])

In [82]:
usuarios_x

             usuario
0         letrapreta
1          bicmuller
2         felipeneto
3             oatila
4    eldacarvalhobsb
..               ...
889        fer_lipee
890    FelipeMessi11
891       savorlivre
892      NoTweetsGuy
893     Mfontenele25

[84779 rows x 1 columns]

In [83]:
usuarios_x.to_csv('Users_Ativos')